<div class="panel panel-primary">
	<div class="panel-heading">
		Filtrar por
	</div>
	<div class="panel-body">
		<p>Categoria/Subcategoria</p>
		<div class="feed-element">
			<input name="categoria" type="text">
		</div>
		<hr>
		<p>HUB de logística</p>
		<div class="feed-element">
			<div class="icheckbox_square-green" style="position: relative;">
				<input name="hub" type="checkbox" class="i-checks">
			</div> 
			HUB
		</div>
		<hr>
		<p>Tipo de instituição</p>
		<div class="feed-element">
			<input name="tipo_instituicao" type="text">
		</div>
	</div>
</div>