<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2>Grafico por instituição</h2>
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								Filtro por categoria
							</div>
							<div class="panel-body">
								<div class="feed-element">
									<% Categoria.order(:descricao).each do |categoria| %>
										<label class=""> 
											<input name="categoria_<%=categoria.id%>" type="checkbox" class="i-checks" data-horario="true" checked>
											<%= categoria.descricao %>
										</label>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<canvas id="barChart" height="140"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
   var barData = {
       labels: <%= raw @labels %>,
       datasets: <%= raw @dados.to_json %>
   };
   var barOptions = {
       scaleBeginAtZero: true,
       scaleShowGridLines: true,
       scaleGridLineColor: "rgba(0,0,0,.05)",
       scaleGridLineWidth: 1,
       barShowStroke: true,
       barStrokeWidth: 2,
       barValueSpacing: 5,
       barDatasetSpacing: 1,
       responsive: true
   }
   var ctx = document.getElementById("barChart").getContext("2d");
   var myNewChart = new Chart(ctx).StackedBar(barData, barOptions);
</script>